*{
    box-sizing: border-box;
}

.dashboard1{
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 0 24px;
    gap: 1.25rem 1rem;
    grid-template-columns: repeat(3, minmax(0, 13.5rem));
}



.dashboard2{
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 1.25rem 1rem;
    grid-template-columns: repeat(2, minmax(0, 28rem));
}

@media (min-width: 1440px){
    .dashboard1{
        grid-template-columns: repeat(4, minmax(0, 13.5rem));
    }
}