.dropdown-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  .dropdown-container-s {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown-button {
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .dropdown-button-s {
    color: #ffffff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .dropdown-list p {
    font-size: 12px;
  }
  .dropdown-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 4.5rem;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-list > a {
    width: 100%;
  }
  .dropdown-option {
    color: #333;
    padding: 1rem;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  .dropdown-option:hover {
    background-color: #ddd;
  }
  .prof-circle {
    padding-right: 1rem;
  }
  .prof-pic-nav {
    padding: 0.13rem;
    border-radius: 1.5rem;
    border: 1px solid var(--CracKube-Red, #F42271);
    background: #FFF;
  }
  