.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .dropdown-list p {
    font-size: 12px;
  }
  .dropdown-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;

    top: 100%;
    right: 1rem;
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-option {
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
  }
  
  .dropdown-option:hover {
    background-color: #ddd;
  }