.horizontal-dropdown-container-sp {
  position: relative;
}
.horizontal-dropdown-container {
  position: relative;
  display: inline-block;
}

.horizontal-dropdown-button {
  display: inline-flex;
  padding: 0.5rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem; 
  border: none;
  color: var(--White, #FFF);
text-align: center;
font-size: 0.75rem;
font-style: normal;
font-weight: 500;
line-height: normal; 
}

.horizontal-dropdown-list-sp {
  position: relative;
  top: 100%;
  width: fit-content;
  display: flex; /* Display items horizontally */ /* Align items in a row */
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.horizontal-dropdown-list {
  position: absolute;
  top: 100%;
  right: 1rem;
  display: flex; /* Display items horizontally */
  flex-direction: row; /* Align items in a row */
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.horizontal-dropdown-option {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.horizontal-dropdown-option:hover {
  background-color: #ddd;
}
