.resultbox {
    width: 100%;
    height: 52.25rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border: 1px solid var(--light-gray, #D2D2D2);
}
.resultCover{
    padding-left: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-column-gap: 2.06rem
}
.gptBox {
    width: 95%;
    height: 51.125rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid var(--light-gray, #D2D2D2);
    background: #FFF;
}
.cardsCover{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1rem;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(31, 38, 57, 0.20);
}
.blogPic{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    background:  url('../../Assets/Thumbnail.png') lightgray 50% / cover no-repeat;
}
.title  {
    display: flex;
    justify-content: space-between;
}
.blogDetails > div > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.menu > img{
 
    margin-left: 0.62rem;
}
.menu {
    margin-right: 1rem;
}
.container {

    align-items: start;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.searchcontainer {
    border-radius: 2rem;
background: #FFF;
box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.10);
    width: 70%;
    height: 46px;
    background-color: #ffffff36;
    display: flex;
    justify-content: start;
    align-items: flex-start;

    padding: 10px;
    outline: 1px solid;
    margin-bottom: 20px;
}

.input {
    flex: 1;
    gap: 0.25rem;
    padding-left: 0.5rem;
    font-size: 20px;
    border: none;
}

.searchicon {
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
    width: 25px;
}

.filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftfilters {
    display: flex;
    gap: 1rem;
}

.button {
    background: #FFF;
    border-radius: 20px;
    outline: #020202 solid 1px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    opacity: 1;
    padding: 3px 15px;
    width: fit-content;
}

.button:hover {
    color: #bf00ff;
    cursor: pointer;
    border: 0px;
}