.authorContainer{
    font-weight: 300;
    font-size: 0.5rem;
    padding: 0 0.906rem 0 0.75rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.image{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    border-radius: 3rem;
}

.image >a> img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    object-fit: cover;
}

.title{
    flex: 5;
    padding: 0.313rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
    font-weight: 800;

}

.bookmark{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}