.authorContainer{
    font-weight: 300;
    font-size: 0.5rem;
    padding: 0 0.906rem 0 0.75rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    max-width: 1.5rem;
    max-height: 1.5rem;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.image > img{
    border-radius: 3.125rem;
    max-width: 100%;
    min-width: 0;
}

.title{
    flex: 5;
    padding: 0.313rem;
    font-size: 0.5rem;
    line-height: 0.75rem;
    font-weight: 800;

}

.bookmark{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}