.titleContainer{
    padding: 0 7px 0 6px;
    margin-bottom: 0.5rem;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    max-height: 2rem;
    display: flex;
    align-items: center;
    color: #000;
    font-family: Visby CF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.2rem */
    padding-bottom: 0.5rem;
}

.titleContainer2{
    font-size: 0.5rem;
    margin: 0.25rem 1rem 0.125rem 1rem;
    line-height: 0.9rem;
}

@media (min-width: 1034px){
    .titleContainer, .titleContainer2{
    }
}