* {
  padding: 0px;
  margin: 0px;
}


@font-face {
  font-family: "VisbyCF";
  src: url("../../../src/styles/Fonts/VisbyCF-Bold.otf");
}

@font-face {
  font-family: "VisbyCFH";
  src: url("../../../src/styles/Fonts/VisbyCF-Heavy.otf");
}

.main p,
.main h5,
.main input,
.main button {
  font-family: "VisbyCF";
}

.main p,
.main h5 {
  padding-bottom: 4px;
}

.Outer {
  display: flex;
}

.out {
  width: 70%;
}

.title p {
  font-family: "VisbyCFH";
  font-style: bold;
  font-weight: 900;
  font-size: 64px;
  line-height: 100px;
}

.dot,
.log {
  text-decoration: none;
  color: #8e00ff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  padding-top: 12px;
  max-width: fit-content;
  display: flex;
  justify-content: space-around;
}

.name div {
  padding-left: 7px;
}

.name input {
  padding-left: 24px;
  width: 220px;
  height: 48px;
  background: rgba(142, 0, 255, 0.05);
  border-radius: 24px;
  border: none;
}

.email {
  padding-top: 12px;
  padding-left: 4px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.email input {
  padding-left: 24px;
  width: 480px;
  height: 48px;
  background: rgba(142, 0, 255, 0.05);
  border-radius: 24px;
  border: none;
}

.info {
  padding-top: 26px;
}

.create-button {
  background: #8e00ff;
  box-shadow: 0px 0px 20px rgba(142, 0, 255, 0.25);
  border-radius: 24px;
  border: none;
  height: 48px;
  width: 487px;
  color: #ffffff;
  cursor: pointer;
}

.info a {
  text-decoration: none;
  color: #8e00ff;
}

.button-div {
  padding-top: 16px;
}

.separator {
  padding-top: 22px;
  display: flex;
  align-items: center;
}

.separator div {
  padding-left: 3px;
  padding-right: 3px;
}

.left {
  width: 175px;
  height: 0px;
  border: 1px solid black;
}

.sign-button {
  max-width: 487px;
  padding-left: 10px;
  padding-top: 22px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sign-in div {
  padding-right: 18px;
  padding-bottom: 0.5rem;
}

.sign-in button {
  width: 29.25rem;
  height: 48px;

  border-radius: 24px;
  cursor: pointer;
}

.facebook {
  border: 1px solid #d2d2d2;
  padding-left: 20px;
  background-color: #ffffff;
  color: #232127;
  background-image: url("../../../src/Assets/Facebook.png");
  background-position: 140px 10px;
  background-repeat: no-repeat;
}

.google {
  border: 1px solid #d2d2d2;
  background-color: #ffffff;
  color: #232127;
  background-image: url("../../../src/Assets/Google.png");
  background-position: 140px;
  background-repeat: no-repeat;
}

.apple {
  padding-right: 10px;
  border: 1px solid #d2d2d2;
  color: #232127;
  background-color: #ffffff;
  background-image: url("../../../src/Assets/Apple.png");
  background-position: 140px 9px;
  background-repeat: no-repeat;
}

.name div,
.email div,
.email {
  padding-bottom: 5px;
}

.SearchPage {
  /* Hide vertical scrollbar */
  margin-top: 2.63rem;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
  min-height: 100vh;
}

.Comp-Name {
  font-family: "VisbyCFH";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 6.375rem;
  line-height: 7.75rem;
  background: linear-gradient(99.09deg, #8e00ff 0%, #ff008a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

.search-change {
  padding-right: 120px;
}
.search-nav-bar-eff {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0rem 1rem;
}

.Search > img {
  position: relative;
  left: 1.875rem;
  top: 0.063rem;
}
.search-container {
  border: #ffffff;
  background: var(--Light-Gray-for-Division, #f2f2f2);
  max-width: 40rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6.25rem;
  cursor: pointer;
}
.search-bar {
  background: var(--Light-Gray-for-Division, #f2f2f2);
  width: 100%;
  border: none;
  padding-left: 2rem;
  color: var(--Gray, #737373);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Search-cent > img{
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;

}
.Search-cent {
  display: flex;
  position: relative;
}
.search-central {
  display: flex;
  min-width: 33.875rem;
  height: 4rem;
  flex-shrink: 0;
  border: none;
  padding-left: 4rem;
  border-radius: 2rem;
  background: var(--White, #fff);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.camera-ocr {
  padding-right: 1rem;
}
.search-attr {
  padding-right: 2rem;
  display: flex;
  align-items: center;
}
.search-attr > p {
  padding-left: 1rem;
  padding-right: 1.5rem;
}
.stroke {
  width: 1rem;
  height: 0rem;
  transform: rotate(-90deg);
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--Gray, #737373);
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  background: linear-gradient(135deg, #8f00ff 0%, #f42271 100%);
  box-shadow: 0px 2px 4px 0px rgba(143, 0, 255, 0.1),
    0px 7px 7px 0px rgba(143, 0, 255, 0.09),
    0px 16px 10px 0px rgba(143, 0, 255, 0.05),
    0px 28px 11px 0px rgba(143, 0, 255, 0.01),
    0px 44px 12px 0px rgba(143, 0, 255, 0);
  height: 4rem;
  width: 4rem;
}
input:focus {
  outline: none;
}

.Search button {
  cursor: pointer;
  font-family: "VisbyCF";
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  position: relative;
  background: linear-gradient(99.09deg, #8e00ff 0%, #ff008a 100%);
  height: 32px;
  width: 72px;
  left: -80px;
  top: 5px;
}
.search-not-clicked {
  display: flex;
}
.search-clicked {
  display: flex;
}
.search-clicked > p {
  color: var(--CracKube-Purple, #8F00FF);
text-align: center;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.search-not-clicked >  p {
  color: var(--Gray, #737373);
text-align: center;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.search-clicked  {
  border-bottom: 1px solid #8F00FF;
}
.search-not-clicked {
  
}
.search-clicked {
}
.Discover {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.Dbox {
  min-width: 17rem;
  min-height: 8rem;
  aspect-ratio: 17/8;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 56px 23px rgba(0, 0, 0, 0.01),
    0px 32px 19px rgba(0, 0, 0, 0.05), 0px 14px 14px rgba(0, 0, 0, 0.09),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
}

.coverUp {
  display: flex;
  flex-direction: column;
}

.coverUp p {
  font-family: "VisbyCF";
  font-size: 2rem;
  line-height: 3.125rem;
}

.Prod {
  display: flex;
  justify-content: center;
  padding-right: 100px;
}

.img-container {
  flex: 1;
  width: 50%;
}

.image {
  max-width: 50%;
  max-height: 100%;
}
@media only screen and (max-width: 1400px) {
  .Discover {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1100px) {
  .Discover {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 606px) {
  .Discover {
    grid-template-columns: repeat(1, 1fr);
  }
  .Dbox {
    min-width: 11.6875rem;
    min-height: 5.5rem;
    flex-shrink: 0;
    aspect-ratio: 11/5;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 56px 23px rgba(0, 0, 0, 0.01),
      0px 32px 19px rgba(0, 0, 0, 0.05), 0px 14px 14px rgba(0, 0, 0, 0.09),
      0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }
}
@media only screen and (max-width: 760px) {
  .search-icon {
    display: none;
  }
  .search-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .profile-nav-btn p {
    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .profile-nav-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .out {
    margin-right: 100px;
    display: flex;
    justify-items: center;
    justify-content: flex-start;
  }

  .name {
    display: flex;
    flex-wrap: wrap;
    min-width: 220px;
    justify-content: space-around;
  }

  .main {
    width: 50%;
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 1000px;
  }

  .title p {
    font-family: "VisbyCFH";
    font-style: bold;
    font-weight: 900;
    font-size: 30px;
    line-height: 60px;
  }

  .prog {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    background-color: red;
  }

  .img-c {
    width: 50%;
    position: absolute;
    height: 100%;
    object-fit: cover;
  }

  .email {
    display: flex;
    padding-left: 15px;
    min-width: 220px;
    justify-content: space-around;
  }

  .email input {
    background-color: #ffffff;
    width: 220px;
  }

  .create-button {
    width: 200px;
  }

  .left {
    width: 20px;
  }

  .separator {
    padding-top: 22px;
    display: flex;
    align-items: center;
  }

  .name div,
  .email div,
  .email {
    padding-bottom: 10px;
  }

  .left {
    width: 175px;
    height: 0px;
    border: 1px solid black;
  }

  .sign-button {
    max-width: 487px;
    padding-left: 10px;
    padding-top: 22px;
  }

  .sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .sign-in div {
    padding-right: 18px;
    padding-bottom: 0.5rem;
  }

  .sign-in button {
    width: 29.25rem;
    height: 48px;

    border-radius: 24px;
    cursor: pointer;
  }

  .facebook {
    border: 1px solid #d2d2d2;
    padding-left: 20px;
    background-color: #ffffff;
    color: #232127;
    background-image: url("../../../src/Assets/Facebook.png");
    background-position: 140px 10px;
    background-repeat: no-repeat;
  }

  .google {
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    color: #232127;
    background-image: url("../../../src/Assets/Google.png");
    background-position: 140px;
    background-repeat: no-repeat;
  }

  .apple {
    padding-right: 10px;
    border: 1px solid #d2d2d2;
    color: #232127;
    background-color: #ffffff;
    background-image: url("../../../src/Assets/Apple.png");
    background-position: 140px 9px;
    background-repeat: no-repeat;
  }

  .name div,
  .email div,
  .email {
    padding-bottom: 5px;
  }

  .Comp-Name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 6.375rem;
    line-height: 7.75rem;
    background: linear-gradient(99.09deg, #8e00ff 0%, #ff008a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
  }

  input:focus {
    outline: none;
  }

  .Search button {
    cursor: pointer;
    font-family: "VisbyCF";
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    position: relative;
    background: linear-gradient(99.09deg, #8e00ff 0%, #ff008a 100%);
    height: 32px;
    width: 72px;

    right: 4.77rem;
    top: 4px;
  }

  .coverUp {
    display: flex;
    flex-direction: column;
  }

  .coverUp p {
    font-family: "VisbyCF";
    font-size: 2rem;
    line-height: 3.125rem;
  }

  .Prod {
    display: flex;
    justify-content: center;
    padding-right: 100px;
  }

  .img-container {
    flex: 1;
    width: 50%;
  }

  .image {
    max-width: 50%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .out {
    margin-right: 100px;
    display: flex;
    justify-items: center;
    justify-content: flex-start;
  }
  .coverUp {
    display: flex;
  }
  .SearchPage {
    width: 100%;
    align-items: center;
    min-height: 100vh;
  }

  .name {
    display: flex;
    flex-wrap: wrap;
    min-width: 220px;
    justify-content: space-around;
  }

  .main {
    width: 50%;
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 1000px;
  }

  .title p {
    font-family: "VisbyCFH";
    font-style: bold;
    font-weight: 900;
    font-size: 30px;
    line-height: 60px;
  }

  .prog {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    background-color: red;
  }

  .img {
    width: 50%;
    height: 100vh;
  }

  .img-c {
    width: 50%;
    position: absolute;
    height: 100%;
    object-fit: cover;
  }

  .email {
    display: flex;
    padding-left: 15px;
    min-width: 220px;
    justify-content: space-around;
  }

  .email input {
    background-color: #ffffff;
    width: 220px;
  }

  .create-button {
    width: 200px;
  }

  .left {
    width: 20px;
  }

  .separator {
    padding-top: 22px;
    display: flex;
    align-items: center;
  }

  .name div,
  .email div,
  .email {
    padding-bottom: 10px;
  }
}

.addbutton {
  height: 4rem;
  width: 4rem;
  background: #8e00ff;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  box-shadow: none;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dropDown {
  height: 4rem;
  width: 4rem;
  background: #8e00ff;
  position: fixed;
  top: 4rem;
  left: 4rem;
  box-shadow: none;
  border: none;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Button Rotate*/
.rotate-animation {
  /* Apply the animation to the button */
  /* animation: rotate 2s; */
  animation: bop 0.5s ease-in-out;
  animation: rotate 0.5s ease-in-out;
}

@keyframes rotate {
  /* Define the rotation animation */
  /* from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(300deg);
    } */
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(90) scale(1.1);
  }
  100% {
    transform: rotate(180deg) scale(1);
  }
}
.drop-flex {
  display: flex;
  flex-direction: column;
}
.dropDown {
  position: fixed;
  top: 125px;
  left: 1450px;
}
.popup {
  position: fixed;
  right: 15px;
  bottom: 130px;
}
.list-view {
  list-style: none;
  padding: 0;
}
.overlay {
  position: absolute;
  left: 40px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.list-view li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list-view li:last-child {
  border-bottom: none;
}

.list-view li::before {
  content: "\2022";
  color: #4caf50;
  font-weight: bold;
  margin-right: 10px;
}
.wrap {
  display: flex;
  flex-direction: column;
}

.icon-style {
  text-align: center;
  min-height: 60px;
  min-width: 100px;
  padding: 10px;
  color: white;
  background-color: #8e00ff;
  border-radius: 20px;
  animation: bop 0.5s ease-in-out;
}

.pop-ul {
  padding-top: 10px;
}

.for-pad {
  padding-top: 10px;
}

@keyframes bop {
  /* Define the rotation animation */
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(300deg);
  } */
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.23);
  }

  100% {
    transform: scale(1);
  }
}
.pad > div {
  padding-top: 10px;
}
@media (max-width: 700px) {
  .addbutton {
    display: none;
  }
}
