*{
    padding: 0px;
    margin: 0px;
    font-family: 'VisbyCH';
 }

 @font-face {
     font-family: 'VisbyCH';
     src: url('../../../src/styles/Fonts/VisbyCF-Bold.otf');
 }
 @font-face {
     font-family: 'VisbyCFH';
     src: url('../../../src/styles/Fonts/VisbyCF-Heavy.otf');
 }

.blog-pic{
    position: absolute;
    max-width: 832px;
    max-height: 468px;
    left: 424px;
    top: 84px;

    background: url('../../Assets/blogPic.svg');
    box-shadow: 0px 4px 50px 10px rgba(161, 159, 173, 0.25);
    border-radius: 24px;
}
.blog-container{
    display: flex;
    justify-content: center;
}
.blog-cover{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.blog-title{
    min-height: 300px;
    font-family: 'VisbyCFH';
    font-style: normal;
    font-size: 102px;
    line-height: 92px;
    display: flex;
    align-items: center;
    color: #232127;
    padding-bottom: 2rem;
}
.blog-content{
    width: 90%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;


}
.prof{
    height: 10%;
    padding-bottom: 3rem;
}

 .main1{
    font-family: 'VisbyCH';
    display: flex;
}
 .txt{
    font-family: 'VisbyCH';
     font-size: 4rem;
     font-weight: 900;
 }
 .req{
    font-family: 'VisbyCH';
     font-size: 1rem;
     font-weight: 600;
 }
 .req a{
    font-family: 'VisbyCH';
     color: #EA4335;
 }
 .Welcome{
     font-family: 'VisbyCH';
     font-weight: 900;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 50%;
     height: 100vh;
 }
 .Design{
     width: 50%;
     height: 100vh;
 }
 .img{
     width: 50%;
     position: absolute;
     height: 100%;
     object-fit: cover;
 }
 .Emtxt{
     padding-top: 1.5rem;
 }
 .Patxt{
    font-family: 'VisbyCH';
     padding-top: 1.5rem;
 }
 .Email{
     border: 1px solid #D2D2D2;
     font-family: 'VisbyCH';
     padding-left: 1rem;
     min-width: 468px;
     height: 48px;
     border-radius: 1.5rem;
     
 }
.emailForm{
    padding-bottom: 1.5rem;
}
 .Password{
     border: 1px solid #D2D2D2;
     padding-left: 1rem;
     min-width: 468px;
     height: 48px;
     border-radius: 1.5rem;
 }
 .sep{
     padding-top: 1.5rem;
     display: flex;
 }
 .rem{
    font-family: 'VisbyCH';
     font-weight: 600;
     padding-right: 217px;
 }
 .Button{
     border: none;
     outline: none;
     padding-top: 1rem;
 }
 .Button button{
     border: none;
     font-family: 'VisbyCH';
     min-width: 468px;
     background: #8E00FF;
     border-radius: 1.5rem;
     height: 3rem;
     color: #FFFFFF;
 
 }
 .Button1{
     border: none;
     padding-top: 1rem;
 }
 .Button1 button{
     border: none;
     font-family: 'VisbyCH';
     min-width: 468px;
     background: #EA4335;
     border-radius: 1.5rem;
     height: 3rem;
     color: #FFFFFF;
 
 }
 .for{
    cursor: pointer;
     color: #EA4335;
 }
 .separator div {
     padding-left: 3px;
     padding-right: 3px;
   }
 .separator{
     padding-top: 22px;
     display: flex;
     align-items: center;
   }
 
   .left{
     width: 175px;
     height: 0px;
     border: 1px solid #555555;;
   }  
 
 
 .Google{
     margin-right: 1rem;
     height: 48px;
     width: 48px;
     border: 1px solid #D2D2D2;
     border-radius: 24px;
     background-image: url('../../Assets/Google.png');
     background-repeat: no-repeat;
     
     background-position: 12px ;
 } 
 .Facebook{
     margin-right: 1rem;
     height: 48px;
     width: 48px;
     border: 1px solid #D2D2D2;
     border-radius: 24px;
     background-image: url('../../Assets/Facebook.png');
     background-repeat: no-repeat;
     background-color:  #1877F2;
     background-position: 12px ;
 }
 .Apple{
     height: 48px;
     width: 48px;
     border: 1px solid #D2D2D2;
     border-radius: 24px;
     background: #000000;
     background-image: url('../../Assets/Apple.png');
     background-repeat: no-repeat;
     background-position: 16px ;
 }
 .Align{
     padding-top: 1rem;
     display: flex;
 }
 .checkBox{
     height: 12px;
     width: 12px;
     border: 1px solid #D2D2D2;
     border-radius: 4px;
     margin-right: 4px;
 }
 .txt1{
    font-family: 'VisbyCH';
     font-size: 4rem;
 }
 .req1{
    font-family: 'VisbyCFH';
     font-size: 1rem;
 }
 .BackButton{
     position: fixed;
     top: 20px;

     left: 20px;

 }
 .BackButton button{
     width: 64px;
     height: 64px;
     border: none;
     border-radius: 24px;
     box-shadow: 0px 28px 11px rgba(234, 67, 53, 0.01), 0px 16px 10px rgba(234, 67, 53, 0.05), 0px 7px 7px rgba(234, 67, 53, 0.09), 0px 2px 4px rgba(234, 67, 53, 0.1), 0px 0px 0px rgba(234, 67, 53, 0.1);
     background: #EA4335;
    
 }
 .codeBox{
     display: flex;
     padding-top: 24px;
 }
 .codeBox div{
     padding-right: 1rem;
     color: #5A5A5A;
 
 }
 
 .codeBox input{
     font-family: 'VisbyCH';
     font-size: 48px;
     max-width: 100px;
     text-align: center;
     min-height: 100px;
     /* Light */
     background: #FFFFFF;
     /* Light Gray */
     color:  #5A5A5A;
     border: 1px solid #D2D2D2;
     box-shadow: 0px 44px 18px rgba(0, 0, 0, 0.01), 0px 25px 15px rgba(0, 0, 0, 0.05), 0px 11px 11px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
     border-radius: 36px;
 }
 
 .VerifyButton button{
     font-family: 'VisbyCH';
     color: #FFFFFF;
     padding-top: 0.5rem;
     border: none;
     min-width: 468px;
     min-height: 48px;
     background: #EA4335;
     border-radius: 24px;
 }
 .req2{
    font-family: 'VisbyCH';
     font-size: 1rem;
     display: flex;
     justify-content: flex-start ;
     flex-direction: column;
     align-items: center;
 }
 .req2 p{
     flex: 1;
 }
 .random{
     flex: 1;
 }
 .Code{
    
     padding-top: 24px;
     color: #5A5A5A;
 }
 .mailId{
    font-family: 'VisbyCFH';
     flex: 1;
     color: #8E00FF;
 }
 /*SETTINGS*/
.settings-cover{
    margin-top: 4rem;
    
}
.settings-cover > p{
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.125rem;
    align-items: center;
    margin-left: 2.25rem;
    color: #000000;
}

.list > ul >  a{
    font-family: 'Visby CF';
    font-style: normal ;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.563rem;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-left: 4rem;

/* Dark Gray */

color: #5A5A5A;
}
.list > ul >  a > span {
    font-family: 'Visby CF';
    font-style: normal ;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.563rem;
    color: #FF0000;
    ;
}
.list>ul> a:hover{
    color: #8E00FF;
    text-decoration: none;
}
.list > ul {
    margin-top: 4rem;
}
.bar{
    position: absolute;
    top: 490px;
    width: 450px;
    height: 0px;
/* Light Gray */

border: 1px solid #D2D2D2;
transform: rotate(-90deg);
}
.social-profile{
    position: relative;
    min-width: 880px;
    min-height: 324px;
    margin-left: 5.813rem;

    /* Light Gray */

    border: 1px solid #D2D2D2;
    border-radius: 32px;
}
.del-profile{
    position: relative;
    min-width: 880px;
    height: 600px;
    margin-left: 5.813rem;

    /* Light Gray */

    border: 1px solid #D2D2D2;
    border-radius: 32px;
}
.social-profile-sec{
    position: relative;
    min-width: 880px;
    margin-left: 5.813rem;

    /* Light Gray */

    border: 1px solid #D2D2D2;
    border-radius: 32px;
    min-height: 172px;
}
.social-del-profile{
    position: relative;
    min-width: 880px;
    margin-left: 5.813rem;
    
    height: 300px;

    /* Light Gray */

    border: 1px solid #D2D2D2;
    border-radius: 32px;

}
.prof-desc-sec > p{
    padding-left: 1.5rem;
    margin-top: 1.75rem;
    padding-right: 1.5rem;
}
.social-profile-sec button{
width: 148px;
height: 2rem;

/* Electric Indigo */
color: white;
background: #8E00FF;
border-radius: 2rem;
border: none;
}
.prof-desc-del > div > p{
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    padding-right: 1.5rem;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
display: flex;
align-items: center;

/* Dark */

color: #232127;
}
.prof-desc-del > h1{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.25rem;
}
.de-acc  button {
    width: 148px;
height: 2rem;

/* Electric Indigo */
color: white;
background: #232127;
border-radius: 2rem;
border: none;
margin-left: 1.25rem;
margin-top: 0.5rem;
}
.del-manage h1{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    font-size: 1.25rem;
}
.del-acc button  {
    width: 148px;
    height: 2rem;
    
    /* Electric Indigo */
    color: white;
    background: #FF0000;
    border-radius: 2rem;
    border: none;
    margin-left: 1.25rem;
    margin-top: 0.5rem;
}


.set-cover {
    display: flex;
}
.cover-details{
    display: flex;
}
.my-details{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 7.5rem;
}
.my-details  > p{
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;
    padding-left: 5.813rem;
    font-family: 'Visby CF';
}
.img-div{
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}
.img-div p {
    padding-left: 0.5rem;
        font-family: 'Visby CF';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
    display: flex;
    align-items: center;

/* Dark Gray */

color: #5A5A5A;
}
.my-det{
    display: flex;
}
.prof-cover{
    position: relative;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.prof-desc {
    padding: 3.5rem 3.5rem 3.5rem 2rem;
}
.prof-desc-sec h1{
    font-family: 'Visby CF';
font-style: bold;
font-weight: 600;
font-size: 1.25rem;
line-height: 1.938rem;
display: flex;
align-items: center;
padding-top: 1.5rem;
padding-left: 1.5rem;
}
.prof-desc-sec > div{
    font-family: 'Visby CF';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.5rem;
align-items: center;
padding-top: 1rem;
padding-left: 1.5rem;
}
.prof-desc-sec > p{
    padding-top: 0.5rem;
}
.about-you{
    width: 880px;
    height: 172px;
    margin-left: 5.813rem;
    margin-top: 2rem;

/* Light Gray */

border: 1px solid #D2D2D2;
border-radius: 2rem;
}
.square{

width: 12px;
height: 12px;

/* Dark */

border: 2px solid #232127;
border-radius: 0.25rem;
margin-right: 0.5rem;
margin-bottom: 0.15rem;
}
.square-wrap{
    display: flex;
    align-items: center;
}
.about-you > p{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}
.about-sep{
    
    display: flex;
    flex-direction: column;
   
}
.personal-details{
    position: relative;
    display: flex;
    flex: 5;
    padding-left: 1.5rem;
    padding-top: 1rem ;
}
.personal-details p{
    font-size: 0.75rem;
}
.personal-details h2{
    font-size: 1rem;
}
.last-det{
    flex: 5;
    padding-left: 19.688rem;
}
.person-name{
    padding-bottom: 1rem;
}
 @media only screen and (max-width: 1035px) {
     .Email{
         min-width: 148px;
     }
     .Password{
         min-width: 148px;
     }
     .rem{
         padding-right: 50px;
     }
     .Button button{
         border: none;
         min-width: 148px;
     
     }
     .Button1 button{
         border: none;
         min-width: 148px;
     
     }
     .txt{
         font-size: 2rem;
     }
     .txt1{
         font-size: 1.8rem;
     }
     .req1{
         font-size: 0.8rem;
     }
     .sep{
         font-size: 0.75rem;
     }
     .left{
         max-width: 60px;
       }
 
       .codeBox input{
         font-family: 'VisbyCH';
         font-size: 24px;
         max-width: 50px;
         min-height: 50px;
         /* Light */
         background: #FFFFFF;
         /* Light Gray */
         border-radius: 24px;
         border: 1px solid #D2D2D2;
         box-shadow: 0px 44px 18px rgba(0, 0, 0, 0.01), 0px 25px 15px rgba(0, 0, 0, 0.05), 0px 11px 11px rgba(0, 0, 0, 0.09), 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
       }  
       .VerifyButton button{
         font-family: 'VisbyCH';
         color: #FFFFFF;
         border: none;
         min-width: 268px;
         min-height: 48px;
         background: #EA4335;
         border-radius: 24px;
     }  
 }