.blog_main_div{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.blog_div_comm{
    display: flex;
    justify-content: center;
}

.blog_main_div{
    display: flex;
    justify-content: center;
    gap:0;
}
.blog_animation_div{
    width: 96.29%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 6.13rem;
}

.blogimg_top {
    z-index: 3;
    transform: translateX(20px) ;
}
.blogimg_left {
    z-index: 2;
    transform: translateX(290px) ;
}
.blogimg_right {
    z-index: 1;
    transform: translateX(-250px);
}

@keyframes topBlog {
    from{
        transform: translateX(20px) translateY(10px)  ;

    }
    to{
        transform: translateX(20px) translateY(-15px) ;
        
    }
}

.topBlog {
    animation: topBlog 1s normal 1s ;
    transform: translateX(20px) translateY(-15px) ;
}

@keyframes leftBlog {
    from{
        transform: translateX(290px)  rotate(0deg) ;

    }
    to{
        transform:  translateX(100px) translateY(15px) rotate(-13deg);
        
    }
}

.leftBlog {
    animation: leftBlog 1s normal 1s ;
    transform: translateX(100px) translateY(15px) rotate(-13deg);
}

@keyframes rightBlog {
    from{
        transform: translateX(-250px)  rotate(0deg) ;

    }
    to{
        transform:  translateX(-100px) translateY(15px) rotate(13deg);
        
    }
}

.rightBlog {
    animation: rightBlog 1s normal 1s ;
    transform:  translateX(-100px) translateY(15px) rotate(13deg);

}




.blog_head_div{
    border-color:white ;
    display: flex;
    justify-content: center;
}
.blog_head{
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid;
    border-radius: 32px;
    font-family: 'Visby CF';
  
}

.blog_text {
    color: white;
    font-size: 64px;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-top: 1rem;
    padding-bottom: 7.8rem;

    text-align: center;
    

}

.blog_text span{
    color: blueviolet;
    text-align: center;
    
}