.main_cardDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 8rem;
    z-index: 8;
}

.comp_cardDiv {
    background-color: black;
    color: white;
    width: 24rem;
    height: 25rem;
    border-radius:64px ;
    
}
.img_div {
    display: flex;
    justify-content: center;

}
.card_img {
    width: 96.29%;
    height: 100%;
    border-radius: 32px; 
    padding: 2rem 2rem 1rem 2rem;
}
.card_title {
    padding: 0 2rem 0.5rem;
    text-align: center;
    
}

.card_content {
    padding: 0 2rem 4.5rem;
    text-align: center;
}