.authorContainer{
    display: flex;
}

.authorContainer > div{
    flex: 1;
    font-weight: 250;
    font-size: 1rem;
    height: 3rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}


.image{
    max-width: 3rem;
    max-height: 3rem;
    display: flex;
    justify-content: flex-start;
}

.image img{
    border-radius: 3.125rem;
    width: 48px;
}

.title{
    flex-direction: column;
    position: relative;
    top: -0.5rem;
    padding: 14px 0 0 8px;
}

.follow{
    margin-left: 1rem;
}

.follow > button{
    background: linear-gradient(99.09deg, #8E00FF 0%, #FF008A 100%);
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 200;
    width: 61px;
    height: 24px;
    font-size: 12px;
}

.bestanswer{
    display: flex;
    justify-content: flex-end;
}

.bestanswer > div{
    width: 127px;
    height: 32px;
    border-radius: 30px;   
    color: #FFA800;
    border: 1px solid #FFA800;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}

.bestanswer > div > div{
    padding-right: 1rem;
}

.bestanswer img{
    width: 28px;
    height: 28px;
    padding-left: 3px;
}