*{
    box-sizing: border-box;
}

.dashboard1{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.25rem 1rem;
    flex-wrap: wrap;

}



.dashboard2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.25rem 1rem;
    flex-wrap: wrap;
}
