* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .left-container {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    padding: 10px;
  }
  
  .left-image {
    width: 500px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .right-container {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: transparent;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .signup-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-content {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    padding: 0 3rem;
    padding-bottom: 3rem;
    /* min-width: 25rem; */
    /* max-width: 400px; */
  }
  
  .signup-content-top {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .text-account {
    color: var(--Black, #000);
    text-align: center;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.08rem;
  }
  
  .text-para {
    color: var(--Gray, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.05rem;
  }
  
  .signup-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: var(--Black, #000);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .form-group input {
    width: 100%;
    width: 29rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--Med-Gray, #c8c8c8);
    color: var(--Gray, #737373);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .form-group:last-child {
    margin-bottom: 1.5rem;
  }
  
  .span {
    color: var(--CracKube-Purple, #8f00ff);
  }
  
  .span-login {
    color: var(--CracKube-Red, #F42271);
  }
  
  .signup-button {
    width: 29rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: var(--CracKube-Purple, #8f00ff);
    border: none;
    padding: 10px 20px;
    margin: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--White, #fff);
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  
  .text-or {
    text-align: center;
    margin: 1.5rem;
  }
  
  .signup-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
  }
  
  .apple-oauth-wrapper {
    background: var(--Black, #000);
  }
  .facebook-oauth-wrapper {
    background: #0079fb;
  }
  .twitter-oauth-wrapper {
    background: #1b9df0;
  }
  .google-oauth-wrapper {
    border: 1px solid var(--Med-Gray, #c8c8c8);
  }
  
  
  