*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainbar{
    display:flex;
    flex-direction: column;
    width: calc(100vw-15rem);
    margin: auto;
    justify-content: center;
}
