.forgot_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.right-container {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: transparent;
  overflow-y: auto;
  box-sizing: border-box;
}

.forgot_logo-container {
  margin-bottom: 2rem;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-heading {
  color: var(--Black, #000);
  text-align: center;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.08rem;
}

.text-para {
  color: var(--Gray, #737373);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.05rem;
}

.reset-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
}

.reset-form label {
  text-align: left;
  display: block;
  margin-bottom: 8px;
  color: var(--Black, #000);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reset-form input {
  width: 500px;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 1px solid var(--Med-Gray, #c8c8c8);
  color: var(--Gray, #737373);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reset-button {
  width: 500px;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 2rem;
  background: var(--CracKube-Purple, #8f00ff);
  border: none;
  padding: 10px 20px;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--White, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.resend-text {
  color: var(--CracKube-Red, #f42271);
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media only screen and (max-width: 600px) {
  .text-para {
    color: var(--Gray, #737373);
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.05rem;
  }
  .reset-form input {
    width: 300px;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: 1px solid var(--Med-Gray, #c8c8c8);
    color: var(--Gray, #737373);
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .reset-button {
    width: 300px;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: var(--CracKube-Purple, #8f00ff);
    border: none;
    padding: 10px 20px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: var(--White, #fff);
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
