.addbutton{
    height: 4rem;
    width: 4rem;
    background: #8E00FF;
    position: fixed;
    right: 17rem;
    bottom: 2rem;
    box-shadow: none;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}